.search-bar {
  width: 100%;
  background-color: #fff;
  text-align: left;
  box-shadow: 0px 3px 4px #c3c3c3;
  padding: 6px 18px;
  position: sticky;
  z-index: 10;
  top: 0;

}

.search-bar input {
  width: 500px;
  height: 36px;
  border: 1px solid #ccc;
  padding: 0 6px;
  outline: none;
}

@media(max-width: 768px) {
  .search-bar input {
    width: 400px;
  }
}

@media(max-width: 552px) {
  .search-bar input {
    width: 100%;
    max-width: 100%;
  }
}

.home-container {
  height: 100%;
  position: relative;
}

.wrapper {
  padding: 30px 36px;
}

.current_page {
  text-align: right;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
  font-variant: small-caps;
  min-width: fit-content;
}

@media (max-width: 767px) {
  .current_page {
    top: 30px;
  }
}

.cards-container {
  width: 100%;

  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.each-card {
  height: 250px;
  border-radius: 8px;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 2px 4px #c2c2c2;
  overflow: hidden;
  cursor: pointer;
  transition: 0.6s;
}

.each-card:hover {
  background-color: #c2c2c26b;
  transform: translateY(-6px);
}

@media(max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .each-card {
    height: fit-content;
  }
}

@media(max-width: 552px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .each-card {
    height: 300px;
  }
}

.movie-img-container {
  width: 100%;
  height: auto;
}

.movie-img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.movie-head {
  padding: 4px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.movie-head .head {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.movie-head .rating {
  font-size: 14px;
  font-weight: bold;
}

.rating.green {
  color: green;
}

.rating.orange {
  color: orange;
}

.rating.red {
  color: red;
}

.each-card .desc {
  padding: 4px;
  font-size: 15px;
  color: #000;
}

.pagination {
  overflow: hidden;
  width: 400px;
  margin-left: auto;
  margin-bottom: 18px;
  box-shadow: 1px 2px 5px #c2c2c2;

}

@media (max-width: 768px) {
  .pagination {
    width: 250px;
  }
}

@media (max-width: 767px) {
  .pagination {
    width: 100%;
    margin: 0 auto 16px;
  }
}

.pagination .buttons {
  display: flex;
  overflow-x: scroll;
}

.pagination .buttons::-webkit-scrollbar {
  display: none;
}

.p-btn {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin: 0 1px;
  padding: 5px 10px;
  transition: color 0.4s;
  border: 1px solid #ccc;
}

.p-btn.active {
  color: #fff;
  font-weight: bold;
  background-color: #007bff;
}

.p-btn:hover {
  color: #fff;
  background-color: #007bff;
}